// Colors
$brand-color: #7386D5;
$brand-light: #96A4E0;
$brand-dark: #5665A0;
$brand-gradient: -webkit-linear-gradient( 120deg, $brand-light 30%, $brand-color);

$text-default: #213547;
$text-light: #4e4e4e;
$text-lighter: #3c3c3cb3;