.colorSections {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.colorConverter {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-gap: 2rem;
}

.square {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 8px;
  cursor: pointer;
  height: 240px;
  width: 320px;
  position: relative;
}

.methods {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  cursor: default;

  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.5rem 1rem;
  border-radius: 0 8px 0 8px;
  position: absolute;
  bottom: 0;
  left: 0;

  div:first-child {
    font-size: 10px;
    color: #fff;
  }

  div {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 13px;
    color: #fff;
  }
}

.canCopy {
  cursor: pointer;
  width: fit-content;
  &:hover {
    text-decoration: underline;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;

  input {
    padding: 0 0 0 8px;
  }
}

.colorTypes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  h3 {
    margin-bottom: 0.5rem;
  }
}

.colorGroup {
  h4 {
    margin-bottom: 0.5rem;
  }

  div {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  div > div {
    color: #fff;
    border-radius: 0.5rem;
    display: flex;
    font-size: 13px;
    align-items: end;
    cursor: pointer;
    width: 140px;
    height: 80px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: transform 0.2s ease-in-out;
    &:hover {
      transform: translateY(-2px);
    }

    span {
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 0 8px 0 8px;
      padding: 0 8px;
    }
  }
}
