.btn {
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 12px;
    position: relative;
    border-radius: 8px;
    display: inline-block;

    &:active {
        top: 1px;
    }

    &.primary {
        background-color: var(--brand-color);
        border: none;
        color: #fff;
        &:hover {
            background-color: var(--brand-color-600);
        }
    }
    
    &.secondary {
        background-color: var(--button-alt-background);
        border: 1px solid var(--button-alt-border);
        color: var(--text-default);
        &:hover {
            background-color: var(--button-alt-hover);
        }
    }

}