@import '../../../sass/variables.scss';

.btn {
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 12px;
    position: relative;
    border-radius: 20px;
    display: inline-block;

    &:active {
        top: 1px;
    }

    &.primary {
        background-color: $brand-color;
        border: none;
        color: #fff;
        &:hover {
            background-color: $brand-dark;
        }
    }
    
    &.secondary {
        background-color: var(--button-alt-background);
        border: 1px solid var(--button-alt-border);
        color: var(--text-default);
        &:hover {
            background-color: #f1f1f1;
        }
    }

}