@import '../../../sass/variables.scss';

.header {
    position: relative;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    pointer-events: none;
    transition: background-color .5s;
}

.headerNavbar {
    position: relative;
    border-bottom: 1px solid transparent;
    padding: 0 8px 0 24px;
    height: var(--dc-nav-height);
    transition: border-color .5s,background-color .5s;
    pointer-events: none;
}

.headerSocials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &:before {
        margin-left: 16px;
        margin-right: 8px;
        width: 1px;
        height: 24px;
        background-color: rgba(60, 60, 60, 0.12);
        content: "";
        width: 1px;
    }
}

.logo {
    margin-right: 8px;
    height: 32px;
}

.content {
    flex-grow: 1;
}

.social {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    color: rgba(60, 60, 60, .7);
    transition: color .5s;

    &:hover {
        color: #213547;
        transition: color .25s;
    }

    svg {
        width: 20px;
        height: 20px;
        fill: currentColor;
        pointer-events: auto;
    }
}

.title {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--dc-nav-height);
    font-size: 16px;
    font-weight: 600;
    color: #213547;
    pointer-events: auto;
    transition: opacity .25s;

    &:hover {
        opacity: .6;
    }
}

.contentBody {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.link {
    display: flex;
    align-items: center;
    padding: 0 12px;
    line-height: var(--dc-nav-height-mobile);
    font-size: 14px;
    font-weight: 500;
    color: #213547;
    transition: color .25s;
    pointer-events: auto;

    &:hover {
        color: $brand-color;
    }
}

@media (min-width: 768px) {

    .headerNavbar {
        padding: 0 32px;
    }

    .nav {
        display: flex;
    }

}

@media (min-width: 960px) {

    .header {
        position: fixed;
    }

    .headerNavbar {

        &.hasSidebar {
            border-bottom-color: transparent;
            padding: 0;

            > div {
                max-width: 100%;
            }

            .content {
                position: relative;
                z-index: 1;
                padding-right: 32px;
                padding-left: 272px;
            }

            .contentBody {
                position: relative;
                background-color: #FFF;
            }

            .navbarTitle {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                padding: 0 32px;
                width: 272px;
                height: var(--dc-nav-height);
                background-color: transparent;
            }
        }

        &:not(.hasSidebar) {
            backdrop-filter: saturate(50%) blur(8px);
            background: rgba(255,255,255,.7);
        }

    }

}

@media (min-width: 1280px) {
    .link {
        line-height: var(--dc-nav-height-desktop);
    }
}

@media (min-width: 1440px) {

    .headerNavbar {
        &.hasSidebar .navbarTitle {
            padding-left: max(32px,calc((100% - (1440px - 64px)) / 2));
            width: calc((100% - (1440px - 64px)) / 2 + 272px - 32px);
        }

        &.hasSidebar .content {
            padding-right: calc((100vw - 1440px) / 2 + 32px);
            padding-left: calc((100vw - 1440px) / 2 + 272px);
        }
    }
}