.aside {
    position: relative;
    display: none;
    order: 2;
    flex-grow: 1;
    padding-left: 32px;
    width: 100%;
    max-width: 256px;
}

@media (min-width: 1280px) {
    .aside {
        display: block;
    }
}
