.container-md {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: calc(1440px - 64px);
    pointer-events: none;
}

.container-xl {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1152px;
}

.container-doc {
    margin: 0 auto;
    width: 100%;
}

.container-content {
    margin: 0 auto;
    max-width: 688px;
}

@media (min-width: 960px) {
    .container-xl {
        flex-direction: row;
    }
    .container-xxl {
        display: flex;
        justify-content: center;
        max-width: 992px;
    }
}

@media (min-width: 1280px) {
    .container-doc {
        display: flex;
        justify-content: center;
    }
}


@media (min-width: 1440px) {
    .container-xxl {
        max-width: 1104px;
    }
}
