@import '../../sass/variables.scss';

.security {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: space-between;
    min-height: 10px;
    margin: 8px 4px 16px 4px;

    &.veryWeak > span:nth-child(-n+1) {
        background-color: #ff4757;
    }

    &.weak > span:nth-child(-n+2) {
        background-color: #ff4757;
    }

    &.medium > span:nth-child(-n+3) {
        background-color: orange;
    }

    &.strong > span:nth-child(-n+4) {
        background-color: #23ad5c;
    }

    &.veryStrong > span {
        background-color: #23ad5c;
    }

    span {
        position: relative;
        height: 8px;
        width: 100%;
        background: #d3d3d3;
        border-radius: 4px;

        &.active:before{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border-radius: 5px;
        }

        :nth-child(2){
            margin: 0 3px;
        }
    }
}

.password {
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #e3e9f1;
    display: flex;
    align-items: center;
    font-weight: 500;
    min-height: 50px;
    padding: 8px 24px;
    position: relative;
}

.range {
    margin: 0 2px 0 2px;
    input {
        width: 100%;
    }
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 8px 0;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
}

.random {
    position: absolute;
    right: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    padding: 4px;
    background: none;

    img {
        height: 24px;
    }

    &:hover {
        transform: rotate(360deg);
        transition: transform 0.2s ease-in-out;
    }
}

.control {
    position: relative;
    padding-left: 28px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 14px;

    &:not(:last-child) {
        margin-right: 16px;
    }
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    
.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
    border-radius: 4px;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc;
}

.control input:checked ~ .control_indicator {
    background: #7386D5;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #96A4E0;
}
.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.controlCheckbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 2px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.controlCheckbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}